<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="noun">
    <th mat-header-cell *matHeaderCellDef> Noun </th>
    <td mat-cell *matCellDef="let element"> {{element.noun}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="article">
    <th mat-header-cell *matHeaderCellDef> Article </th>
    <td mat-cell *matCellDef="let element"> {{element.article}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="articleInput">
    <th mat-header-cell *matHeaderCellDef> Die, Der oder Das? </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="example-full-width">
        <input matInput>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="plural">
    <th mat-header-cell *matHeaderCellDef> Plural </th>
    <td mat-cell *matCellDef="let element"> {{element.plural}} </td>
  </ng-container>

  <ng-container matColumnDef="pluralInput">
    <th mat-header-cell *matHeaderCellDef> Plural Input </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="example-full-width">
        <input matInput>
      </mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

