.navbar-input {
    position: relative; 
    right: 38.5%;
    width: 490px;
    background-color: white;
    border-radius: 100px;
    padding-left: 20px;
    padding-bottom: 2px;
}

input {
    width: 92%;
    outline: none;
    border: none;
}

.search-icon {
    cursor: pointer;
    color: black;
    font-size: medium;
}

.app-logo {
    cursor: pointer;
}

img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

@media (max-width: 1680px) {
    .navbar-input {
        right: 35%;
    }
}

@media (max-width: 1600px) {
    .navbar-input {
        right: 34%;
    }
}

@media (max-width: 1400px) {
    .navbar-input {
        right: 32%;
    }
}


@media (max-width: 1280px) {
    .navbar-input {
        right: 30%;
    }
}

@media (max-width: 1024px) {
    .navbar-input {
        right: 25%;
    }
}


@media (max-width: 962px) {
    .navbar-input {
        right: 23%;
    }
}

@media (max-width: 834px) {
    .navbar-input {
        right: 19%;
    }
}


@media (max-width: 800px) {
    .navbar-input {
        right: 18%;
    }
}

@media (max-width: 768px) {
    .navbar-input {
        right: 16%;
    }
}

@media (max-width: 640px) {
    .navbar-input {
        right: 8%;
        width: 500px;
    }
}


@media (max-width: 480px) {
    .navbar-input {
        right: 2%;
        width: 380px;
    }

    input {
        width: 90%;
    }
}

@media (max-width: 360px) {
    .navbar-input {
        right: 3%;
        width: 250px;
    }

  
}