.form-container {
  margin-top: 2%;
  padding: 50px 20px;
  font-size: larger;
}

.form-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .form-container .mat-form-field {
    width: 220px;
  }
  
  .form-container form {
    margin-bottom: 20px;
  }
  
  .form-container form > * {
    margin: 5px 0;
  }
  
  .form-container .mat-radio-button {
    margin: 0 12px;
  }

form {
    padding: 10px;
    border-radius: 20px;
    background: white;
}

.label-div {
  margin-bottom: 20px;
}

.title-div {
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;

}

.form-item {
    margin-bottom: 40px !important;
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-form {
    display: flex;
    justify-content: center;
}

