<div class="landing-form">
    <div class="form-container">
        <form class="box-shadow">
            <div class="title-div">
                <h2>Optionen</h2>
            </div>
            <div class="form-item">
                <div class="label-div">
                    <label>Art des Spiels: </label>
                </div>
                <mat-radio-group>
                    <mat-radio-button (change)="setGameOptions('game', $event)" value="nouns">Sustantive
                    </mat-radio-button>
                    <mat-radio-button (change)="setGameOptions('game', $event)" value="verbs">Verben</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-item">
                <div class="label-div">
                    <label>Anzahl: </label>
                </div>
                <mat-radio-group>
                    <mat-radio-button (change)="setGameOptions('qty', $event)" value="5">5</mat-radio-button>
                    <mat-radio-button (change)="setGameOptions('qty', $event)" value="10">10</mat-radio-button>
                    <mat-radio-button (change)="setGameOptions('qty', $event)" value="15">15</mat-radio-button>
                    <mat-radio-button (change)="setGameOptions('qty', $event)" value="all">Insgesamt</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-item">
                <div class="label-div">
                    <label>Niveau: </label>
                </div>
                <mat-radio-group>
                    <mat-radio-button (change)="setGameOptions('level', $event)" value="beginner">Anfänger
                    </mat-radio-button>
                    <mat-radio-button (change)="setGameOptions('level', $event)" value="intermediate">Fortgeschritten
                    </mat-radio-button>
                    <mat-radio-button (change)="setGameOptions('level', $event)" value="advanced">Profi
                    </mat-radio-button>
                    <mat-radio-button (change)="setGameOptions('level', $event)" value="all">Alle</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-button">
                <button (keyup.enter)="goToGame()" (click)="goToGame()" mat-raised-button
                    color="primary">Spielen</button>
            </div>
        </form>
    </div>

</div>