/* 
.wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: #ffec00;
    width: 8%;
    padding-top: 2%;
    padding-left: 3%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.button-wrapper{
	position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    padding: 15px;
    display: flex;
    justify-content:center;
    border-radius: 5px;
}
 */




.form-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .form-container .mat-form-field {
    width: 220px;
  }
  
  .form-container form {
    margin-bottom: 20px;
  }
  
  .form-container form > * {
    margin: 5px 0;
  }
  
  .form-container .mat-radio-button {
    margin: 0 12px;
  }

form {
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 10%;
}

h2 {
    text-align: center;
}

.form-item {
    margin-bottom: 30px !important;
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-title {
    float: left;
    width: 60%;
    height: 100vh;
}

.landing-title div {
    width: 70%;
    display: inline-block;
    margin-left: 20%;
    margin-top: 20%;
}

.landing-form {
    padding: 20px;
    float: left;
    width: 40%;
    height: 100vh;
}